<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <!-- Log4Net -->
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="true"/>

    <!-- Connection Strings -->
    <add key="ConnectionString_DBIntoInterlink" value="Server=DMX-DT010;Database=DB_Into_Interlink;User ID=AppUser;Password=abc123;" />
    <add key="ConnectionString_DBIMPORTFILES"   value="Server=DMX-DT010;Database=DB_IMPORT_FILES;User ID=AppUser;Password=abc123;" />
    
  </appSettings>
  
</configuration>